.box--myprojects{
    position: relative;
    margin: 0;
    width: 100%;
    background: linear-gradient(135deg, #00494d 30%, #292E5E 100%);
    color: #FFF;
    height: auto;
    padding-bottom: 0;
    font-family: 'Sarabun'; 


}
.projectLink{
    color: #FFF;
    text-decoration: none;
    
}
.projectLink:hover{
    transform: scale(1.1);
}
.title--myprojects{
    font-family: 'Sarabun'; 
    text-align: center;
    padding: 20px;
}
.conteiner--myprojects{
    display: flex;
    margin: 20px;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
}
.myproject{
    margin: auto;
    width: 600px;
    /* border: 3px solid #000; */
    padding: 20px;
    align-items: center;
    background-color: #2c2b2b;
    border-radius: 5px;
    box-shadow: 0 0 5px #FFF;
}

.projectName{
    text-align: center;

}
.img--myproject{
    background-color: #000;
    width: 600px;
    height: 300px;
    margin: auto;
    border-radius: 5px;
    transition: 0.3s ease;
    transform: scale(1);
}

.img--myproject:hover{
    transform: scale(1.03);
}
.img--myproject .cuatro{
    width: 500px;
    height: 250px;
}
.title--tecnologies{
    font-size: 18px;
    margin-bottom: 2px;
}

.tecnologies{
    font-size: 40px;
    text-align: center;
    transition: 0.3s ease;
    transform: scale(1);
}
.tecnologies:hover{
    color: #4650a7;
    transform: scale(1.2);

}

.projectDescription{

}
