@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



form{
    margin-bottom: 0 ;
}
.boxtres{
    background-color: #6c4a37;
    background: linear-gradient(135deg, #1a1818 30%, #3c291f 100%);


    padding-top: 10px;
}
h2{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    /* text-transform: capitalize; */
    padding: 10px;
    font-size: 2.0em;
    font-family: 'Lola'; 
    letter-spacing: 3px;


}

form{
    font-family: 'Poppins';
    background-color: transparent ;
    padding: 20px 0px;
    max-width: 600px;
    margin: auto;
    margin-top: 70px;
    box-shadow: 0 0 20px #fff2;
    border-radius: 8px;
    margin-bottom: 0px;
    

}

.form_input{
    padding: 6px 20px;
}

input, textarea, select{
    font-family: inherit;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-left: 2px solid #666;
    border-top: 2px solid #666;
    padding: 6px 8px;
    box-shadow: 0 0 15px #0005;
    background: transparent;
    border-radius: 4px;
    color: #eee;

}

option{
    background-color: #222;
}
textarea{
    min-width: 100%;
    resize: vertical; /* Para que se pueda desplazar solo de forma vertical*/
    /* resize: none; para que el tamaño del cuadro se quede de forma predeterminada */
    min-height: 102px;
    max-height: 200px;

}

.relleno{
    margin: auto;
    padding: 20px;
}

label{
    font-size: 0.88em;
    line-height: 2;
    letter-spacing: 2px;

}

.checkbox{
    width:auto;
    height: 12px;
    
}

fieldset{
    margin: 0 20px;
    padding: 8px 6px 20px 6px;
    border: 1px solid #777;
    border-radius: 6px;
    margin-bottom: 20px;
}
legend{
    padding: 0 6px;
    color: #777;
    letter-spacing: 2px;

}
.send-button{
    font-family: inherit;
    width: 100%;
    padding: 6px 8px;
    box-shadow: 0 0 15px #0005;
    background: transparent;
    border-radius: 4px;
    color: #eee;
    border: none;
    border-left: 2px solid #666;
    border-top: 2px solid #666;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Poppins';
    cursor: pointer;
}